s<section id="test" class="services">
  
  <div class="container">
    <div class="row text-center">
      <div class="col-lg-10 col-lg-offset-1">
        <h2>Lista de Ponentes</h2>
        <hr class="small">
        <div class="row">
        {% for ponente in site.ponentes %}
          {{ ponente }}
          <div class="col-md-3 col-sm-6">
            <div class="service-item">
              <span class="fa-stack fa-4x">
              <i class="fa fa-circle fa-stack-2x"></i>
              <i class="fa fa-stack-1x text-primary"></i>
            </span>
              <h4>
                <strong>{{ ponente.name }}</strong>
              </h4>
              <p>{{ ponente.text }}</p>
              <a href="#" class="btn btn-light">Learn More</a>
            </div>
          </div>
        {% endfor %}
        
          
        </div>
        <!-- /.row (nested) -->
      </div>
      <!-- /.col-lg-10 -->
    </div>
    <!-- /.row -->
  </div>
<!-- /.container -->
</section>
